body{
    
    background-image: url('../images/OIP.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: -1px -1px 0 rgb(15, 15, 15);
    margin: 0;
        padding: 0;
        height: 100vh;
}

.weather-app{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(0, 0, 0, 0.5) ;
    margin: 60px auto;
    padding: 30px 50px;
    max-width:800px ;
    box-shadow: 10px 10px 100px rgb(19, 32, 34);
    border-radius: 10px;
    color: rgb(215, 237, 247);
    height: 480px;
}

.searchInput{
    
    padding: 7px;
    width: 740px;
    border-right: none ;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(183, 193, 196);
    
}

.button{
  
padding: 2px;
background-color: rgb(183, 193, 196);
color: aliceblue;
font-size: 23px;
border-bottom-left-radius: 0px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
form{
    display: inline-flex;
}
h1{ margin: 0;
    font-size: 55px;
    border-bottom: 2px solid rgb(218, 216, 216);
    width: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: -3px -3px 0 black;
    
    position: relative;
}
.footer{
    font-size: small;
    color: rgb(161, 161, 161);
    text-align: center;
    
}

a{
    color:rgb(91, 156, 91) ;
}

    
    
how {
    color:rgb(19, 61, 83) ;
    display: inline;
   
}
table{
width: 100%;
border-collapse: collapse;


}

th,td{
padding: 4px;
text-align: center;

}
.weather-details{
 display: flex;
 flex-wrap: nowrap;
 margin: 10px 0px;
}

.weather-temp{
    margin: -30px 160px;
    flex-wrap: nowrap;
    position: relative;
    display: flex;
    
    
    
}

.weather-data{
   display: inline;
}

p{
    white-space: nowrap;
}
.degree{
    font-size: 70px;
    position: relative;
    top: 45px;
    
}

.icon{
   font-size: 40px;
   position: relative;
   top: 45px;


   
}
.celcuis{
    font-size: 30px;
    position: relative;
    top: 60px; 
}
.weather-data strong{
color: rgb(30, 252, 123);
}
.weather-forecast{
    
    display: flex;
    gap: 55px;
    justify-content: center;
    
    
}
.weather-forecast-day{
    color: rgb(175, 175, 175);
   text-align: center;
    padding-left: 10px;
}
.weather-forecast-icon{
    display: block;
    margin: 0 auto;
    width: 80px;
    height:auto;
    padding-right: 10px;
  
}
.weather-forecast-degrees{
    color: rgb(30, 252, 123);
    text-align: center;
    position: relative;
    word-spacing: 25px;
    padding-left: 11px;
   
    
}